body.page-id-638 #_header-1-52,
body.page-id-638 #section-12-90 {
  display: none;
}

.ms-form__container-outter {
  font-family: "Lato", sans-serif;
  color: #302b2b;
}

.ms-form__container {
  width: 830px;
  margin: 20px auto;
  padding-bottom: 100px;
}

.ms-form__button--back.top-button {
  visibility: visible;
  -webkit-transform: translateX(-60%);
          transform: translateX(-60%);
}

.ms-form__heading {
  margin-bottom: 50px;
  margin-top: 80px;
}

.ms-form__buttons-container {
  width: 100%;
  border-top: 2px solid rgba(48, 43, 43, 0.4);
  position: fixed;
  bottom: 0;
  background-color: #fff;
}

.ms-form__buttons-container-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0px;
  width: 830px;
  margin: 5px auto 0px auto;
}

.ms-form__buttons-container-inner .ms-form__button--next.disabled:hover .ms-form-info-box {
  display: block;
  text-transform: lowercase;
}

.ms-form__buttons-container-inner .ms-form__button--next.disabled:hover .ms-form-info-box::first-letter {
  text-transform: uppercase;
}

.ms-form__button {
  font-weight: 700;
  font-size: 16px;
  font-family: "Lato";
  text-transform: uppercase;
  border: none;
  position: relative;
}

.ms-form__button::before {
  content: "";
  display: block;
  width: 17px;
  height: 15px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(calc(-50% + 1px));
          transform: translateY(calc(-50% + 1px));
}

.ms-form__button:hover {
  cursor: pointer;
}

.ms-form__button--back {
  visibility: hidden;
  background-color: #fff;
  padding-left: 27px;
}

.ms-form__button--back.visible {
  visibility: visible;
}

.ms-form__button--back::before {
  background: url("icons/back-arrow.svg") no-repeat center;
  left: 0px;
}

.ms-form__button--next {
  background-color: #302b2b;
  padding: 16px 46px 16px 21px;
  color: #fff;
  border-radius: 6px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.ms-form__button--next::before {
  background: url("icons/next-arrow.svg") no-repeat center;
  right: 15px;
}

.ms-form__button--next.disabled {
  background-color: #fff;
  color: #b6a8a8;
}

.ms-form__options-container {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: auto;
}

.ms-form__options-container::after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.ms-form__options-container--step-1 {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.ms-form__options-container--step-1::after {
  display: none;
}

.ms-form__option {
  padding: 40px 0px;
  background: #ffffff;
  border: 1px solid rgba(48, 43, 43, 0.11);
  border-radius: 6px;
  -webkit-box-shadow: 7px 13px 25px rgba(48, 43, 43, 0.06);
          box-shadow: 7px 13px 25px rgba(48, 43, 43, 0.06);
  width: 23%;
  max-width: 186px;
  min-height: 186px;
  margin-right: 25px;
  margin-bottom: 35px;
  position: relative;
}

.ms-form__option:hover {
  cursor: pointer;
}

.ms-form__option.active {
  border-color: #f4c418;
}

.ms-form__option.active .ms-form__col-title {
  color: #f4c418;
}

.ms-form__option--step-1 {
  width: 30%;
  max-width: 250px;
  margin: 0px 0px 30px 0px;
}

.ms-form__option--step-1:nth-child(2) {
  margin: 0px 24px 30px 24px;
}

.ms-form__option--step-1 .ms-form__col-title {
  text-transform: uppercase;
  margin: 30px 0px 50px 0px;
}

.ms-form__option--step-2 .ms-form__col-icon img, .ms-form__option--step-4 .ms-form__col-icon img {
  width: 50px;
}

.ms-form__option--step-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ms-form__option--step-3 .ms-form__col-title {
  margin-top: 5px;
}

.ms-form__option:nth-child(4n + 4) {
  margin-right: 0;
}

.ms-form__col-title {
  font-size: 16px;
  font-weight: 500;
  margin: 0px 0px 0px 0px;
  line-height: 20px;
  padding: 0px 32px;
}

.ms-form__col-desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding: 0px 20px;
}

.step-bar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 830px;
  font-family: "Lato", sans-serif;
  color: #302b2b;
  margin-bottom: 45px;
}

.step-bar__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 140px;
  text-align: center;
  position: relative;
}

.step-bar__step.active .step-bar__number {
  border-color: #f4c418;
  color: #f4c418;
}

.step-bar__step.active .step-bar__name {
  font-weight: 700;
}

.step-bar__step.active .step-bar__divider {
  background: rgba(48, 43, 43, 0.4);
  opacity: 0.8;
}

.step-bar__step.active.semi-active .step-bar__divider {
  opacity: 0.2;
}

.step-bar__number {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #302b2b33;
  color: rgba(48, 43, 43, 0.2);
  font-size: 20px;
  background: rgba(48, 43, 43, 0.04);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.step-bar__name {
  margin-top: 10px;
}

.step-bar__divider {
  width: 75%;
  height: 1px;
  background: rgba(48, 43, 43, 0.4);
  opacity: 0.2;
  position: absolute;
  -webkit-transform: translateX(-80%);
          transform: translateX(-80%);
}

.last-step-summary {
  border-bottom: 1px solid rgba(48, 43, 43, 0.4);
  padding-bottom: 40px;
  width: 830px;
  margin: 0 auto;
  font-family: "Lato";
  text-align: left;
}

.last-step-summary__heading {
  text-align: left;
  font-size: 22px;
}

.last-step-summary__data {
  padding: 40px 25px;
  background: rgba(48, 43, 43, 0.04);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.last-step-summary__row {
  width: 50%;
  margin-bottom: 25px;
  color: rgba(48, 43, 43, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.last-step-summary__row--price {
  font-weight: 700;
}

.last-step-summary__result {
  font-weight: 700;
  margin-left: 5px;
}

.last-step-summary__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5px;
}

.last-step-summary__image img {
  width: 20px;
}

.last-step-form {
  color: #302b2b;
  font-family: "Lato", sans-serif;
  width: 830px;
  margin: 0 auto;
  padding-bottom: 200px;
  text-align: left;
}

.last-step-form__heading {
  font-size: 22px;
  font-weight: 700;
  margin: 30px 0px;
}

.last-step-form__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.last-step-form__input {
  width: calc(50% - 12px);
  color: #302b2b;
  position: relative;
}

.last-step-form__input.error {
  color: #f24343;
}

.last-step-form__input.error input {
  border: 1px solid #f24343;
}

.last-step-form__input.error input:focus-visible {
  outline: 1px solid #f24343;
}

.last-step-form__input--message {
  width: 100%;
}

.last-step-form__input input,
.last-step-form__input textarea,
.last-step-form__input select {
  padding: 16px 22px;
  background: #ffffff;
  border: 1px solid rgba(48, 43, 43, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  margin: 10px 0px 25px 0px;
  width: 100%;
}

.last-step-form__input label {
  font-weight: 700;
}

.last-step-form__input input[type="date"] {
  padding: 14px 22px;
}

.last-step-form__input .question-circle {
  top: 3px;
  left: 50px;
}

.select-result {
  padding: 20px;
}

.select-result__row {
  margin: 20px 0px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.select-result__row.info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 36px;
}

.select-result__row p {
  margin: 0;
}

.select-result__row.bold {
  font-weight: 700;
}

.select-result__icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.select-result__icon.marker {
  background: url("icons/map-marker-alt-orange.svg") no-repeat center;
}

.select-result__icon.phone {
  background: url("icons/phone-alt.svg") no-repeat center;
}

.select-result__icon.email {
  background: url("icons/envelope.svg") no-repeat center;
}

.checkbox-area {
  font-size: 12px;
  line-height: 14.4px;
}

.checkbox-area__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 16px 0px;
}

.checkbox-area__row input[type="checkbox"] {
  margin-right: 16px;
  line-height: 12px;
}

.checkbox-area__row input[type="checkbox"]:after {
  content: " ";
  background-color: #302b2b;
  display: inline-block;
  visibility: visible;
}

.checkbox-area__row input[type="checkbox"]:checked:after {
  content: "\2714";
  border-radius: 3px;
  height: 12px;
  width: 12px;
  display: block;
  text-align: center;
  font-size: 9px;
  color: white;
}

.checkbox-area__row label {
  color: #302b2b;
}

.checkbox-area__row.error input[type="checkbox"] {
  outline: 1px solid #f24343;
}

.checkbox-area__row.error label {
  color: #f24343;
}

.checkbox-area__row .bold {
  font-weight: 700;
  text-decoration: none;
  color: #302b2b;
}

.ms-form-info-box {
  display: none;
  color: #fff;
  background: #302b2b;
  border-radius: 6px;
  padding: 8px;
  font-size: 12px;
  line-height: 14.4px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  min-width: 260px;
  z-index: 1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.ms-form-info-box__triangle-bottom {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 10px solid #302b2b;
}

.question-circle {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 15px;
  right: 28px;
}

.question-circle:hover .ms-form-info-box {
  display: block;
}

.ms-confirmation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 870px;
  text-align: center;
  padding: 20px;
  padding-top: 100px;
  margin: 0 auto;
  color: #302b2bb2;
}

.ms-confirmation__heading {
  margin-top: 15px;
}

.ms-confirmation__desc {
  margin: 25px 0px 45px 0px;
}

.ms-confirmation .ms-form__button {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.ms-confirmation a {
  color: #302b2bb2;
  font-weight: 700;
}

@media (max-width: 1365px) {
  .ms-form__button--next {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .ms-form__button--back.top-button {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (max-width: 900px) {
  .ms-form__container,
  .ms-form__buttons-container-inner,
  .step-bar__container,
  .last-step-summary,
  .last-step-form {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .step-bar__divider {
    width: 50%;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .ms-form__options-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ms-form__options-container::after {
    display: none;
  }
  .ms-form__option {
    width: 30%;
    margin-right: 12px;
    margin-left: 12px;
    min-width: 186px;
  }
  .ms-form__option:nth-child(4n + 4) {
    margin-right: 12px;
  }
  .last-step-summary__data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .last-step-summary__row {
    width: 100%;
  }
}

@media (max-width: 680px) {
  .ms-form__options-container--step-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .last-step-summary__data {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (max-width: 480px) {
  .step-bar__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .step-bar__step {
    display: none;
  }
  .step-bar__step.visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .step-bar__step.visible .step-bar__divider {
    display: none;
  }
  .last-step-form {
    padding-left: 0px;
    padding-right: 0px;
  }
  .last-step-form__input {
    width: calc(100% - 12px);
    width: 100%;
  }
  .last-step-summary {
    padding-left: 0px;
    padding-right: 0px;
  }
}
