body.page-id-638 {
  #_header-1-52,
  #section-12-90 {
    display: none;
  }
}

.ms-form {
  &__container-outter {
    font-family: "Lato", sans-serif;
    color: #302b2b;
  }
  &__container {
    width: 830px;
    margin: 20px auto;
    padding-bottom: 100px;
  }
  &__button--back.top-button {
    visibility: visible;
    transform: translateX(-60%);
  }

  &__heading {
    margin-bottom: 50px;
    margin-top: 80px;
  }
  &__buttons-container {
    width: 100%;
    border-top: 2px solid rgba(48, 43, 43, 0.4);
    position: fixed;
    bottom: 0;
    background-color: #fff;
  }
  &__buttons-container-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
    width: 830px;
    margin: 5px auto 0px auto;
    .ms-form__button--next.disabled {
      &:hover {
        .ms-form-info-box {
          display: block;
          text-transform: lowercase;
          &::first-letter {
            text-transform: uppercase;
          }
        }
      }
    }
  }
  &__button {
    font-weight: 700;
    font-size: 16px;
    font-family: "Lato";
    text-transform: uppercase;
    border: none;
    position: relative;
    &::before {
      content: "";
      display: block;
      width: 17px;
      height: 15px;
      position: absolute;
      top: 50%;
      transform: translateY(calc(-50% + 1px));
    }
    &:hover {
      cursor: pointer;
    }
    &--back {
      visibility: hidden;
      background-color: #fff;
      padding-left: 27px;

      &.visible {
        visibility: visible;
      }
      &::before {
        background: url("icons/back-arrow.svg") no-repeat center;
        left: 0px;
      }
    }
    &--next {
      background-color: #302b2b;
      padding: 16px 46px 16px 21px;
      color: #fff;
      border-radius: 6px;
      transform: translateX(100%);
      &::before {
        background: url("icons/next-arrow.svg") no-repeat center;
        right: 15px;
      }
      &.disabled {
        background-color: #fff;
        color: #b6a8a8;
      }
    }
  }
  &__options-container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    &::after {
      content: "";
      flex: auto;
    }
    &--step-1 {
      flex-wrap: nowrap;
      &::after {
        display: none;
      }
    }
  }
  &__option {
    padding: 40px 0px;
    background: #ffffff;
    border: 1px solid rgba(48, 43, 43, 0.11);
    border-radius: 6px;
    box-shadow: 7px 13px 25px rgba(48, 43, 43, 0.06);
    width: 23%;
    max-width: 186px;
    min-height: 186px;
    margin-right: 25px;
    margin-bottom: 35px;
    position: relative;

    &:hover {
      cursor: pointer;
    }
    &.active {
      border-color: #f4c418;
      .ms-form__col-title {
        color: #f4c418;
      }
    }
    &--step-1 {
      width: 30%;
      max-width: 250px;
      margin: 0px 0px 30px 0px;
      &:nth-child(2) {
        margin: 0px 24px 30px 24px;
      }

      & .ms-form__col-title {
        text-transform: uppercase;
        margin: 30px 0px 50px 0px;
      }
    }
    &--step-2,
    &--step-4 {
      .ms-form__col-icon img {
        width: 50px;
      }
    }
    &--step-3 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .ms-form__col-title {
        margin-top: 5px;
      }
    }
    &:nth-child(4n + 4) {
      margin-right: 0;
    }
  }
  &__col-title {
    font-size: 16px;
    font-weight: 500;
    margin: 0px 0px 0px 0px;
    line-height: 20px;
    padding: 0px 32px;
  }
  &__col-desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    padding: 0px 20px;
  }
}

.step-bar {
  &__container {
    display: flex;
    justify-content: space-between;
    width: 830px;
    font-family: "Lato", sans-serif;
    color: #302b2b;
    margin-bottom: 45px;
  }
  &__step {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140px;
    text-align: center;
    position: relative;
    &.active .step-bar__number {
      border-color: #f4c418;
      color: #f4c418;
    }
    &.active .step-bar__name {
      font-weight: 700;
    }
    &.active .step-bar__divider {
      background: rgba(48, 43, 43, 0.4);
      opacity: 0.8;
    }
    &.active.semi-active .step-bar__divider {
      opacity: 0.2;
    }
  }
  &__number {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #302b2b33;
    color: rgba(48, 43, 43, 0.2);
    font-size: 20px;
    background: rgba(48, 43, 43, 0.04);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__name {
    margin-top: 10px;
  }
  &__divider {
    width: 75%;
    height: 1px;
    background: rgba(48, 43, 43, 0.4);
    opacity: 0.2;
    position: absolute;
    transform: translateX(-80%);
  }
}

.last-step-summary {
  border-bottom: 1px solid rgba(48, 43, 43, 0.4);
  padding-bottom: 40px;
  width: 830px;
  margin: 0 auto;
  font-family: "Lato";
  text-align: left;

  &__heading {
    text-align: left;
    font-size: 22px;
  }
  &__data {
    padding: 40px 25px;
    background: rgba(48, 43, 43, 0.04);
    display: flex;
    flex-wrap: wrap;
  }
  &__row {
    width: 50%;
    margin-bottom: 25px;
    color: rgba(48, 43, 43, 0.7);
    display: flex;
    align-items: center;
    &--price {
      font-weight: 700;
    }
  }
  &__result {
    font-weight: 700;
    margin-left: 5px;
  }
  &__image {
    display: flex;
    align-items: center;
    margin-left: 5px;
    & img {
      width: 20px;
    }
  }
}

.last-step-form {
  color: #302b2b;
  font-family: "Lato", sans-serif;
  width: 830px;
  margin: 0 auto;
  padding-bottom: 200px;
  text-align: left;
  &__heading {
    font-size: 22px;
    font-weight: 700;
    margin: 30px 0px;
  }
  &__inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  &__input {
    width: calc(50% - 12px);
    color: #302b2b;
    position: relative;
    &.error {
      color: #f24343;
      input {
        border: 1px solid #f24343;
        &:focus-visible {
          outline: 1px solid #f24343;
        }
      }
    }
    &--message {
      width: 100%;
    }
  }
  &__input input,
  &__input textarea,
  &__input select {
    padding: 16px 22px;
    background: #ffffff;
    border: 1px solid rgba(48, 43, 43, 0.3);
    box-sizing: border-box;
    border-radius: 6px;
    margin: 10px 0px 25px 0px;
    width: 100%;
  }
  &__input label {
    font-weight: 700;
  }

  &__input input[type="date"] {
    padding: 14px 22px;
  }
  &__input .question-circle {
    top: 3px;
    left: 50px;
  }
}
.select-result {
  padding: 20px;
  &__row {
    margin: 20px 0px;
    line-height: 20px;
    display: flex;
    &.info {
      flex-direction: column;
      padding-left: 36px;
    }

    & p {
      margin: 0;
    }
    &.bold {
      font-weight: 700;
    }
  }
  &__icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 15px;
    &.marker {
      background: url("icons/map-marker-alt-orange.svg") no-repeat center;
    }
    &.phone {
      background: url("icons/phone-alt.svg") no-repeat center;
    }
    &.email {
      background: url("icons/envelope.svg") no-repeat center;
    }
  }
}

.checkbox-area {
  font-size: 12px;
  line-height: 14.4px;
  &__row {
    display: flex;
    margin: 16px 0px;
    & input[type="checkbox"] {
      margin-right: 16px;
      line-height: 12px;
    }
    & input[type="checkbox"]:after {
      content: " ";
      background-color: #302b2b;
      display: inline-block;
      visibility: visible;
    }

    & input[type="checkbox"]:checked:after {
      content: "\2714";
      border-radius: 3px;
      height: 12px;
      width: 12px;
      display: block;
      text-align: center;
      font-size: 9px;
      color: white;
    }
    & label {
      color: #302b2b;
    }
    &.error {
      input[type="checkbox"] {
        outline: 1px solid #f24343;
      }
      label {
        color: #f24343;
      }
    }
    & .bold {
      font-weight: 700;
      text-decoration: none;
      color: #302b2b;
    }
  }
}

.ms-form-info-box {
  display: none;
  color: #fff;
  background: #302b2b;
  border-radius: 6px;
  padding: 8px;
  font-size: 12px;
  line-height: 14.4px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  min-width: 260px;
  z-index: 1;
  transform: translateX(-50%);
  &__triangle-bottom {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid #302b2b;
  }
}

.question-circle {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 15px;
  right: 28px;
  &:hover {
    .ms-form-info-box {
      display: block;
    }
  }
}

.ms-confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 870px;
  text-align: center;
  padding: 20px;
  padding-top: 100px;
  margin: 0 auto;
  color: #302b2bb2;
  &__heading {
    margin-top: 15px;
  }
  &__desc {
    margin: 25px 0px 45px 0px;
  }
  .ms-form__button {
    transform: translateX(0);
  }
  a {
    color: #302b2bb2;
    font-weight: 700;
  }
}

@media (max-width: 1365px) {
  .ms-form__button--next {
    transform: translateX(0);
  }
  .ms-form__button--back.top-button {
    transform: translateX(0);
  }
}

@media (max-width: 900px) {
  .ms-form__container,
  .ms-form__buttons-container-inner,
  .step-bar__container,
  .last-step-summary,
  .last-step-form {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .step-bar__divider {
    width: 50%;
    transform: translateX(-100%);
  }
  .ms-form__options-container {
    justify-content: center;
    &::after {
      display: none;
    }
  }
  .ms-form__option {
    width: 30%;
    margin-right: 12px;
    margin-left: 12px;
    min-width: 186px;
  }
  .ms-form__option:nth-child(4n + 4) {
    margin-right: 12px;
  }
  .last-step-summary {
    &__data {
      flex-direction: column;
    }
    &__row {
      width: 100%;
    }
  }
}

@media (max-width: 680px) {
  .ms-form__options-container--step-1 {
    flex-direction: column;
    align-items: center;
  }
  .last-step-summary__data {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (max-width: 480px) {
  .step-bar {
    &__container {
      justify-content: center;
    }
    &__step {
      display: none;
      &.visible {
        display: flex;
        .step-bar__divider {
          display: none;
        }
      }
    }
  }

  .last-step-form {
    padding-left: 0px;
    padding-right: 0px;
    &__input {
      width: calc(100% - 12px);
      width: 100%;
    }
  }
  .last-step-summary {
    padding-left: 0px;
    padding-right: 0px;
  }
}
